<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://logopond.com/logos/f1f8b7caeb42f69902e289dcd5ce2b4e.png" width="40" height="35"
        class="d-inline-block align-top rounded-circle z-depth-0" alt="noimg">
      Photography
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="responsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="https://www.facebook.com/RafiqDastan-photography-creations-974548482598050/photos/?ref=page_internal"
           target="_blank" class="nav-link" ><fa-icon [icon]="faFacebook" class="a"></fa-icon>&nbsp;<b>Facebook</b></a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/rafiqdastan_photography/?hl=en"
           target="_blank" class="nav-link"><fa-icon [icon]="faInstagram" class="b"></fa-icon>&nbsp;<b>Instagram</b></a>
        </li>
      </ul>  
    </div>
  </div>
</nav>