<div class="container-fluid">
     <div class="row a">
     </div>   
     <h1 class="b">Hi! I am Rafiq Dastan.</h1>
     <p class="c">I TAKE PHOTOGRAPHS WITH CREATIVITY, CONCEPT & PASSION</p>
     <div class="container d">
             <h2 style="text-align: center;">About Me</h2><hr class="e">
        <div class="row">
                <div class="col-md-6">
                        <img src="https://scontent.fvga2-1.fna.fbcdn.net/v/t1.0-9/73288623_2789997737719773_1858305093393186816_o.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=On1uGJu-angAX-hUv85&_nc_ht=scontent.fvga2-1.fna&oh=4204d12807335be7dda68d8908527165&oe=5F5FE759"
                         alt="noimg" class="img-fluid" style="border-radius: 20px;">
                </div>
                <div class="col-md-6 g">
                        <p class="f">
                                Hi! I’m Rafiq Dastan, a photographer and videographer. My passion is taking photos and videos of people and most attractive places around the world.
                        </p>
                        <p class="f">
                                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus. Fusce dapibus tellus cursus commodo.
                        </p>
                        <ul class="f">
                             <li>Wondlan Wer01 Wireless Slider Time Lapse</li>
                             <li>Nikon D5 24-70mm F2.8</li>
                             <li>Nikon Af-S 24Mm F/1.4G Ed Lens</li>  
                             <li>Wondlan Sniper Sn 2.1 Wf Wireless Dslr Rig</li> 
                        </ul>
                </div>
        </div>
     </div>
</div>