.a{
    background-size: cover;
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.356), 
        rgba(0, 0, 0, 0.39)
      ),
    url("/assets/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width: auto;
}
.b{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    margin-top: -145px;
    
}
.c{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    margin-top: -5px;
}
.d{
    margin-top: 85px;
}
.e{
    width: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}
.f{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}
.g{
    margin-top: 50px;
}
.container-fluid{
    background-color: gainsboro;
}