<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="logo-footer" src="https://logopond.com/logos/f1f8b7caeb42f69902e289dcd5ce2b4e.png" alt="logo-footer" 
                    data-at2x="https://logopond.com/logos/f1f8b7caeb42f69902e289dcd5ce2b4e.png" class="d"><span class="e">Photography</span>
                </div>
                <div class="col-md-4">
                    <h3>Contact</h3>
                    <p><fa-icon [icon]="faAddress"></fa-icon>&nbsp; SKS Township, Kakinada, Andhra Pradesh</p>
                    <p><fa-icon [icon]="faPhone"></fa-icon>&nbsp; Phone: +91 - 6300913112</p>
                    <p><fa-icon [icon]="faMail"></fa-icon>&nbsp; Email: <a href="mailto:rafiq@gmail.com">rafiq@gmail.com</a></p>
                </div>
                <div class="col-md-4">
                    <h3>Follow Me</h3>
                    <p>
                        <a href="https://www.facebook.com/RafiqDastan-photography-creations-974548482598050/photos/?ref=page_internal" target="_blank"><fa-icon [icon]="faFacebook" class="a"></fa-icon></a> 
                        <a href="https://www.instagram.com/rafiqdastan_photography/?hl=en" target="_blank"><fa-icon [icon]="faInstagram" class="b"></fa-icon></a> 
                        <a href="#"><fa-icon [icon]="faPinterest" class="c"></fa-icon></a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                   <div class="col-md-12 footer-copyright">
                    <p style="text-align: center;">© by RD Photography</p>
                   </div>
               </div>
        </div>
    </div>
</footer>