.a{
    width: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}
.container-fluid{
    background-color: gainsboro;
    padding-top: 30px;
    padding-bottom: 40px;
}
.b{
    background-image: url("/assets/14.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px;
}
.c{
    background-image: url("/assets/16.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px;
}
.d{
    background-image: url("/assets/15.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px;
}
.e{
    font-family: cursive;
    font-size: 22px;
    margin-top: 120px;
}
.carousel-indicators{
    bottom: -50px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
  }