<div class="container-fluid">
    <div class="container">
        <h2 style="text-align: center;">Testimonials</h2><hr class="a">
        <p style="text-align: center; font-size: large;"><b>What my customers say?</b></p>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-6 d">
                    </div>
                    <div class="col-md-6">
                        <p class="e">
                            Rafiq is truly an outstanding photographer (and wonderful person) with an almost mystical ability to capture the true nature of people and events. I'd recommend him to anyone! <b>- Salikh Ikram</b>.
                        </p>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-md-6 b">
                    </div>
                    <div class="col-md-6">
                        <p class="e">
                            Thank you, thank you, thank you!  you are an expert in making everyone feel good, happy and welcome. Oh and a terrific photographer too. <b>- Sameem Hassain</b>.
                        </p>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-md-6 c">
                    </div>
                    <div class="col-md-6">
                        <p class="e">
                            Thank you for shooting. Our experience working with you was fantastic and the pictures you captured are outstanding and really captured the magic of the day.  <b>- Pavan LB</b>.
                        </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>